// DARK MODE
// $primary-background: #111;
// $primary-text: #EEE;
// $secondary-text: #888;

// $primary-card-background: #222;

// LIGHT MODE
$primary-background: white;
$primary-text: #333;
$secondary-text: #444;

$primary-card-background: white; 

$box-shadow-light: 0px 0px 15px -2px rgba(0,0,0,0.15);
$box-shadow-heavy: 0px 0px 20px 0px rgba(0,0,0,0.3);

$user-mod: blue;
$user-admin: red;

@mixin cardMixin {
	border: 0.5px solid;
	border-color: rgba(0, 0, 0, 0.19);
}

$unverified-color: rgb(187, 17, 17);

// ANIMATIONS