.media.comment, .media.reply {  
  small a {
    margin-right: 5px;
    font-weight: $weight-semibold;
    color: $text;
  }
}

.comments > .add-comment {
  margin-bottom: 1rem;
}

.reply {
  padding-left: 1rem;
}