@import './_variables.scss';

input[type="file"] {
	display: none;
}

.post-edit {
	> * {
		margin-bottom: 2rem;
	}
}

.post-edit-container .hero .content h1 {
	font-size: 3rem;
	color: blue;
}

.ql-container {
	min-height: 10rem;
}

.thumbnail-preview {
	max-width: 100%;
	height: auto;
	margin-top: 2rem;
}