#main {
  @apply pt-20;
}

.fixed-column {
  @apply max-w-2xl mx-auto px-4;
}

.button {
  @apply border border-clr-input text-sm px-2 py-1 rounded-sm;
  transition: 0.1s;
}
.button:hover {
  @apply border-transparent bg-clr-input-hover text-clr-input-text;
}
.button:active {
  @apply bg-clr-input-active;
}
.button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.button.button-danger {
  @apply border-clr-input-danger text-clr-input-danger;
}
.button.button-danger:hover {
  @apply bg-clr-input-danger text-clr-input-text;
}
.button.button-danger:active {
  @apply bg-clr-input-danger-active text-clr-input-text;
}

.button.button-success {
  @apply border-clr-input-success text-clr-input-success;
}
.button.button-success:hover {
  @apply bg-clr-input-success text-clr-input-text;
}
.button.button-success:active {
  @apply bg-clr-input-success-active text-clr-input-text;
}

.input {
  @apply border bg-clr-bg border-clr-input p-1;
}
.input:hover {
  @apply border-clr-input-hover;
}
.input:focus {
  @apply border-blue-300;
}

.tab {
  @apply border-b-2 border-clr-bg-secondary px-4 py-2 cursor-pointer;
  transition: 0.2s;
}

.tab:hover,
.tab.is-active {
  @apply bg-clr-primary-lightest border-clr-primary;
}

.table-list > :nth-child(even) {
  @apply bg-clr-bg-secondary;
}

hr {
  @apply border-clr-bg-secondary;
}

/* quill editor overrides */

#editor .ql-snow.ql-toolbar {
  background: var(--clr-quill-bg);
  width: 100%;
}

#editor .ql-snow.ql-toolbar, #editor .ql-snow.ql-container {
  border: none;
}

#editor .ql-toolbar.ql-snow, #editor .ql-header.ql-picker .ql-picker-label, #editor .ql-container .ql-editor {
  padding-left: 0;
}

#editor .ql-editor {
  @apply text-base;
}

#editor .ql-editor.ql-blank::before {
  opacity: 0.5;
  font-style: normal;
  margin-left: -15px;
}