@import './_variables.scss';
@import './header.scss';
@import './postcard.scss';
@import './post.scss';
@import './comment-reply.scss';
@import './postedit.scss';

html, body {
	font-family: 'PT Sans';//, Helvetica, sans-serif;
	background: $primary-background;
	color: $primary-text;
}

// MAIN APP SECTION

#main {
	// display it as grid with 3 columns, content will be in center
	display: grid;
	grid-template-columns: 1fr minmax(0, 600px) 1fr;
	// leave space for the header
	margin-top: 4rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;

	// everything in the grid is in the center column
	* {
		grid-column: 2 / 3;
	}
}

.hero {
	height: 50vh;
	text-align: center;
	display: flex;

	.content {
		margin: auto;
	}
	h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 3.5rem;
	}
}

.unverified {
	color: $unverified-color;
	border: 0.5px solid;
	padding: 0.2rem;
	border-color: $unverified-color;
	font-size: 1rem;
	display: inline-block;
}

.button {
	padding: 0.5rem;
	font-size: 1.2rem;
	color: $primary-text;
	background-color: inherit;
	border: 0.5px solid;
	border-color: $primary-text;
	user-select: none;
	cursor: pointer;
	// on hover
	transition: 0.2s;
	&:hover {
		color: $primary-background;
		background-color: $primary-text;
		border-color: $primary-background;
	}
	// small buttons
	&.small {
		font-size: 1.1rem;
		padding: 0.3rem;
		border: none;
	}
}

.user .mod {
	color: $user-mod;
}

.user .admin {
	color: $user-admin;
}