@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --prose-font: 'Bitter'
}

#main {
  @apply pt-16;
}

.prose {
  font-family: var(--prose-font);
}

.fixed-column {
  @apply max-w-2xl mx-auto px-4;
}

.button {
  @apply border border-clr-input text-sm px-2 py-1 rounded-sm;
  transition: 0.1s;
}
.button:hover, .button.active {
  @apply border-transparent bg-clr-input-hover text-clr-input-text;
}
.button:active {
  @apply bg-clr-input-active;
}
.button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.button.button-danger {
  @apply border-clr-input-danger text-clr-input-danger;
}
.button.button-danger:hover {
  @apply bg-clr-input-danger text-clr-input-text;
}
.button.button-danger:active {
  @apply bg-clr-input-danger-active text-clr-input-text;
}

.button.button-success {
  @apply border-clr-input-success text-clr-input-success;
}
.button.button-success:hover {
  @apply bg-clr-input-success text-clr-input-text;
}
.button.button-success:active {
  @apply bg-clr-input-success-active text-clr-input-text;
}

.input {
  @apply border bg-clr-bg border-clr-input p-1;
}
.input:hover {
  @apply border-clr-input-hover;
}
.input:focus {
  @apply border-blue-300;
}

.tab {
  @apply border-b-2 border-clr-bg-secondary px-4 py-2 cursor-pointer;
  transition: 0.2s;
}

.tab:hover,
.tab.is-active {
  @apply bg-clr-primary-lightest border-clr-primary;
}

.table-list > :nth-child(even) {
  @apply bg-clr-bg-secondary;
}

hr {
  @apply border-clr-bg-secondary;
}

/* filepond override - dont show size */

#app .filepond--file-info-sub {
  display: none;
}