.media.comment, .media.reply {  
  small {
    display: inline-block;
    margin-top: 0.2rem;

    a {
      margin-right: 5px;
      font-weight: $weight-semibold;
      color: $text;
    }
  }
}

.media.reply {
  padding-bottom: 0.75rem;
}

.comments > .add-comment {
  margin-bottom: 1rem;
}

.reply {
  padding-left: 1rem;
}

.reply-edit {
  padding-top: 1rem;
  padding-bottom: 1rem;
}