$primary: hsl(171, 100%, 41%);

@import 'bulmaswatch/default/_variables.scss';
@import 'bulma/bulma.sass';
@import 'bulmaswatch/default/_overrides.scss';
@import './style.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.field input, .field textarea, .field select, .field .file-cta {
  background-color: $card-background-color;
  color: $text;
}

// .post-content {
//   font-family: 'Roboto Slab', Helvetica, sans-serif;
//   // letter-spacing: 0.015em;
//   line-height: 150%;
//   // font-weight: 100;
// }