.post-page {
  .post-info, .post-options, .post-thumbnail {
    margin-bottom: 1rem;
  }

  .post-options.buttons:last-child {
    margin-bottom: 1rem;
  }
}

.post-list-head {
  align-items: flex-end;
}

.post-info .tags {
  .tag {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}

// edit page
.field .input.title-input {
  @extend .title;
  border: none;
  background-color: inherit;
  box-shadow: none;
  padding-left: 0;

  &::placeholder {
    color: $text;
    opacity: 0.5;
  }
}

// quill editor overrides
.editor {
  margin-bottom: 1rem;
  
  .ql-snow {
    .ql-picker {
      color: $text !important;
    }
    .ql-stroke {
      stroke: $text !important;
    }
    .ql-fill {
      fill: $text !important
    }
  }

  .ql-snow.ql-toolbar, .ql-snow.ql-container {
    // border-color: $border;
    border: none;
  }

  .ql-editor {
    font-size: $size-normal;
  }

  .ql-editor.ql-blank::before {
    color: $text;
    opacity: 0.5;
    font-style: normal;
    margin-left: -15px;
  }

  .ql-editor, .ql-snow.ql-toolbar, .ql-snow .ql-picker-label {
    padding-left: 0;
  }
}