.post-card {
  margin-bottom: 3rem;
  border: thin solid;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: none;
  transition: 0.2s;
  animation: bounce;
  animation-duration: 0.2s;
  // flex container
  display: flex;
  flex-wrap: wrap;

  &:hover {
    box-shadow: $box-shadow;
  }
  
  .thumbnail-container {
    margin: 0 auto;

    .thumbnail {
      min-width: 10rem;
      width: 100%;
    }
  }

  .title {
    margin-bottom: 0.5rem;
  }

  .content-container {
    padding: 1rem;
    margin: auto;
    text-align: center;
  }

  .tags {
    display: flex;
    justify-content: center;
  }
}

@include tablet {
  .post-card {
    flex-wrap: nowrap;
    
    .thumbnail-container {
      align-self: stretch;
      max-width: 70%;

      .thumbnail {
        object-fit: cover;
        height: 100%;
      }
    }
  }
}